/* app css stylesheet */
body {
  font: normal 18px Georgia, serif;
}
h2 {
  color:  #555555;
  font: normal 30px Georgia, serif;
}

h3 {
  color:  #2f96b4;
  font: normal 18px Georgia, serif;
  font-weight: bold;
}

a.rightlink {
  color:  #2f96b4;
  font: normal 18px Georgia, serif;
  text-decoration: none;
}

a.rightlink:hover {
  color:  #2f96b4;
  font: normal 18px Georgia, serif;
  text-decoration: underline;
}

p.details {
  color:  #555555;
  font: normal 18px Georgia, serif;
}

p.details a {
  color:  #2f96b4;
  font: normal 18px Georgia, serif;
  text-decoration: none;
}

p.details a:hover {
  color:  #2f96b4;
  font: normal 18px Georgia, serif;
  text-decoration: underline;
}

li {
  list-style-type: none;
  margin-top: 5px;
}

ul {
  margin-left: 0px;
  margin-top: 15px;
  padding-left: 5px;
}

div.header {
  width: 100%;
  height: 150px;
  background-color: #d9edf7;
}

div.main  {
  padding-left: 70px;
  font: normal 16px Georgia, serif;
}

div.main a {
  font: normal 18px Georgia, serif;
}

div.search-result {
  font: normal 14px Georgia, serif;
  margin: 0px 0px 50px 0px;
}

div.book-general {
  font: normal 18px Georgia, serif;
  margin: 10px 0px 0px 0px;
}

div.book_content {
  width: 70%;
  padding: 30px;
  border: solid 1px #7a7a7a;
  background-color: #eeeeee;
  color:  #333333;
  font: normal 14px Georgia, serif;
  line-height: 25px;
}

div.pagination, div.pagination a {
  color:  #333333;
  font: normal 18px Georgia, serif;
}

div.pagination a:hover {
  color:  #333333;
  font: normal 18px Georgia, serif;
  cursor: pointer;
}

div.left-header {
  font: normal 16px Georgia, serif;
  padding: 40px 0px 0px 50px;
}

div.right-header {
  font: normal 16px Georgia, serif;
  padding: 60px 50px 0px 0px;
  text-align:right;
}

div.formLabel {
  padding-left: 0px;
}

div.validation {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

div.field {
  margin-top: 20px;
}

span.page_num {
  margin: 0px 50px 0px 50px;
}

button.createAccountButton {
  width:180px;
}

input.search {
  width: 450px;
  height: 30px;
  border-radius: 3px; 
  -webkit-border-radius: 20px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  outline: none;
  background-image: url('/images/design/search.png');
  background-position: 7px 5px; 
  background-repeat: no-repeat;
  border: solid 1px #7a7a7a;
  padding: 12px 20px 12px 35px;
}

input.new_page {
  width: 40px;
  text-align: center;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.thumbnails {  
  float: left;  
  
}

.book-description{
  margin-left: 65px;
  padding-left: 2.3em;
}