<div class="main">
	<div class="col-md-8">
		<h2>The most popular</h2>
		<div class="text-danger" ng-if="message">
        	</br>{{message}}
    	</div>
		<div class="row" ng-repeat="row in books">
			<div class="col-md-6 book-general" ng-repeat="book in row">
				<br>
				<a href="#/books/{{book.id}}"><img ng-src="./images/books/small/{{book.id}}.jpg" alt="{{book.name}}" class="thumbnails"></a>
				<div class="col-md-6 book-text">
					<a href="#/book/{{book.id}}" id="{{book.name}}">{{book.name}}</a>
					<br>
					<span class="main-author">by</span> <a href="#/books/author/{{book.id_author}}" id="{{book.author}}" class="main-author">{{book.author}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<random-authors></random-authors>
		<genres></genres>
	</div>
</div>

