<div class="main">
    <h2>Create an account</h2>

    <div class="col-sm-3 registration-form">
        <form name="createAccountForm" novalidate>
        <div class="row text-danger" ng-if="message">
            </br>{{message}}
        </div>
        <div class="row field">
            <div class="col-xs-8 col-sm-6 formLabel">First name</div>
            <div class="col-xs-4 col-sm-6"><input type="text" name="firstName" ng-model="firstName.value" ng-pattern="firstName.pattern" required></div>
        </div>
        <div class="row validation text-danger" ng-if="(!createAccountForm.firstName.$valid) && createAccountForm.firstName.$dirty">
            *{{firstName.message}}
        </div>
        <div class="row field">
            <div class="col-xs-8 col-sm-6 formLabel">Last name</div>
            <div class="col-xs-4 col-sm-6"><input type="text" name="lastName" ng-model="lastName.value" ng-pattern="lastName.pattern" required></div>
        </div>
        <div class="row validation text-danger" ng-if="(!createAccountForm.lastName.$valid) && createAccountForm.lastName.$dirty">
            *{{lastName.message}}
        </div>
        <div class="row field">
            <div class="col-xs-8 col-sm-6 formLabel">Email</div>
            <div class="col-xs-4 col-sm-6"><input type="text" name="email" ng-model="email.value" ng-pattern="email.pattern" ng-blur="emailValidate(createAccountForm.email.$valid)" required></div>
        </div>
        <div class="row validation text-danger" ng-if="(!createAccountForm.email.$valid) && createAccountForm.email.$dirty">
            *{{email.messageValid}}
        </div>
        <div class="row validation text-danger" ng-if="doesEmailExist && createAccountForm.email.$dirty">
            *{{email.messageExists}}
        </div>
        <div class="row field">
            <div class="col-xs-8 col-sm-6 formLabel">Password</div>
            <div class="col-xs-4 col-sm-6"><input type="password" name="password1" ng-model="password1.value" ng-pattern="password1.pattern" required></div>
        </div>
        <div class="row validation text-danger" ng-if="(!createAccountForm.password1.$valid) && createAccountForm.password1.$dirty">
            *{{password1.message}}
        </div>
        <div class="row field">
            <div class="col-xs-8 col-sm-6 formLabel">Confirm password</div>
            <div class="col-xs-4 col-sm-6"><input type="password" name="password2" ng-model="password2.value" ng-change="passwordValidate()" required></div>
        </div>
        <div class="row validation text-danger" ng-if="(!createAccountForm.password2.$valid) && createAccountForm.password2.$dirty">
            *{{password2.messageValid}}
        </div>
        <div class="row validation text-danger" ng-if="!doPasswordsMatch  && createAccountForm.password2.$dirty">
            *{{password2.messageMatch}}
        </div>
        <div class="row field">
            <div class="col-xs-8 col-sm-6 formLabel"></div>
            <div class="col-xs-4 col-sm-6"><button class="btn btn-primary createAccountButton" ng-click="submitForm(createAccountForm.$valid)">Create an account</button></div>
        </div>
        </form>
    </div>

</div>
