<div class="main">
	<div class="col-md-6">
        <h2>Sign in:</h2>
		<form name="signInForm">
            <div class="col-sm-3">
                <div class="row field">
                    <div class="col-xs-8 col-sm-6 formLabel">Email</div>
                    <div class="col-xs-4 col-sm-6"><input type="text" name="email" ng-model="email.value" required></div>
                </div>
                <div class="row field">
                    <div class="col-xs-8 col-sm-6 formLabel">Password</div>
                    <div class="col-xs-4 col-sm-6"><input type="password" name="password" ng-model="password.value" ng-pattern="password.pattern" required></div>
                </div>
                <div class="row field">
                    <div class="col-xs-8 col-sm-6 formLabel"></div>
                    <div class="col-xs-4 col-sm-6"><button class="btn btn-primary signInButton" ng-submit="signIn()">Sign In</button></div>
                </div>
            </div>
        </form>
	</div>
	<div class="col-md-6">
		<h2>Or create an account:</h2><br/>
        <p>If you don't have  an account, you can create it now.</p>
        <a href="/#/users/create-account" class="btn btn-primary" role="button">Create an account</a>
	</div>
</div>
